.product-card {
    max-width: 150px;
    background-color: white;
}

.subtitle-black {
    color: gray;
}

mat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

mat-card {
    transition: transform .2s;
}

.sort-dropdown {
    margin-left: 20px;
}


